body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
    margin: 40px;
}

h1 {
    color: #448BCA;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
